@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
}

#diceContainer {
    text-align: center;
}

#message {
    font-size: 35px;
    color: red;
}

h2 {
    font-size: 24px;
}

#showDice {
    margin-bottom: 20px;
}

#buttonContainer {
    text-align: center;
}

#score {
    background-color: lightgray;
    min-height: 60px;
    width: 100%;
    text-align: center;
    font-size: 55px;
}

#player1 {
    height: 100px;
    width: 45%;
    float: left;
}

#player2 {
    height: 100px;
    width: 45%;
    float: right;
}

#playerOneScore {
    background-color: lightblue;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
}

#playerTwoScore {
    background-color: lightgray;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
}

#winningPlayer {
    padding: 50px 50px 50px 50px;
    text-align: center;
}

#winner {
    font-size: 70px;
}

#playAgain {
    font-size: 28px;
    text-align: center;
}
